
<div > <marquee >
  <span style="color: #581845;font-weight:bold;">Dear Customer,
  please note due to recent Government directive of nationwide operational lockdown for all
   non-essential services we regretfully have to pause our service for a while. There will be 
   a delay in processing your online orders. Please expect all orders to ship only after 
   16.04.2020. We regret the inconvenience.</span>
  </marquee>
</div> 
<!--<div class="container">
    <div class="row1 logo_background">
      <div class="col-sm-6"> <img src="/assets/logo.jpg" wheight="250" width="300" class="img-responsive" ></div>
      <div class="col-sm-6 smec_jntu"><h5>JNTUH EAMCET/ICET Code: <span>MRTN</span></h5></div>
    </div>
  </div>-->


  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/admin']" routerLinkActive="active">Admin </a></li>
            <li><a [routerLink]="['/customers']" routerLinkActive="active">Customers</a></li>
            <li><a [routerLink]="['/store']" routerLinkActive="active">Store</a></li>
            <li><a routerLink="" routerLinkActive="active">ShoppingCart</a></li>
            <li><a routerLink="['/about']" routerLinkActive="about">About Us</a></li>
            <li><a routerLink="" routerLinkActive="active">RTI</a></li>
            <li><a routerLink="" routerLinkActive="active">Committees </a></li>
            <li><a routerLink="/placements" routerLinkActive="active">Placements</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>